name: archisri_1
description: "A new Flutter project."
publish_to: 'none'
version: 0.1.0

environment:
  sdk: ^3.10.4

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
  uses-material-design: true

  assets:
    - assets/images/ARCHISHI.png
    - assets/images/google.webp
    - assets/images/artificial-intelligence.png
    - assets/images/3d-house.png
    - assets/images/house.png
    - assets/images/home.png
    - assets/images/mansion.png
    - assets/images/home_plan.png
